<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">About this workshop</h2>
        <hr class="light">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-faded">Intelligent multi-robot systems are increasingly receiving interest from academia and industry. They promise versatility and ability to adapt to diverse scenarios with dangerous and dynamic environments.</p>

        <p class="text-faded">However, achieving robust and resilient autonomy in the real world is currently an open problem even for individual robots. Multi-robot systems pose a vast array of additional issues, which include coherence in state estimation, task coordination, and security in communication.</p>

        <p class="text-faded">This workshop aims to bring together researchers and practitioners to discuss the challenges of experimental validation and sim-to-real transfer of multi-agent coordination algorithms, as well as favored solutions and future directions. The ultimate objective is to acquire a better understanding of the technological gaps that hinder immediate and broad deployment of multi-robot systems for use in real-world scenarios, such as package delivery, warehouse management, exploration, firefighting, and more.</p>
      </div>
    </div>
  </div>
</section>
