<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">About this workshop</h2>
        <hr class="light">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-faded">Intelligent multi-agent systems are increasingly receiving interest from academia and industry because of their versatility and ability to adapt to different scenarios and dynamic environments, and efficiently solve difficult tasks minimizing completion time.<br>
          Agents should be able to interact with each other to optimally solve problems that would otherwise be difficult or impossible for a single agent. Taking ‘collective’ decisions by sharing individual knowledge, a process known as ‘self-organization’, is key for successfully achieve complex missions.</p>
        
        <p class="text-faded">Self-organization is a complicated behavior that needs attentive design based on the application and resources available. A decentralized, distributed approach is the solution to ensure resilience, scalability, and adaptivity to system and environment variations. However, several difficulties and challenges arise when self-organization is applied to physical systems due to limitations imposed by available hardware and uncertain environment.</p>
        
        <p class="text-faded">This workshop aims to bring together researchers and practitioners to discuss the challenges of experimental validation and sim-to-real transfer of multi-agent coordination algorithms, as well as favored solutions and future directions. The ultimate objective is to acquire a better understanding of the technological gaps that hinder immediate and broad deployment of multi-agent robotic systems for use in real-world scenarios, such as package delivery, warehouse management, exploration, etc.</p>
</div>
</div>
</div>
</section>
