<section id="callforpapers">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Call for Papers</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>The workshop will include a call for papers. The papers will be presented in two poster sessions, and selected papers will also be presented as <em>highlighted contributions</em>.</p>
        <h2>Topics of Interest</h2>
        <ul>
          <li>Applications of multi-robot systems and swarms</li>
          <li>Field deployment of multi-robot systems and swarms</li>
          <li>Coordination algorithms for multi-robot systems and swarms</li>
          <li>Machine learning for multi-robot systems and swarms</li>
          <li>Programming and software engineering for multi-robot systems and swarms</li>
          <li>Fault tolerance in multi-robot systems and swarms</li>
        </ul>
      </div>
    </div>
  </div>
</section>
