<section id="organizers">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Organizers</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-offset-2">

        <div class="row">

          <!-- Person 1 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://carlo.pinciroli.net/" target="_blank">
                <img src="img/organizers/carlo_pinciroli.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Carlo Pinciroli</h3>
              <p class="mb-4"> Worcester Polytechnic Institute </p>
            </div>
          </div>

          <!-- Person 2 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://stacymav.github.io/" target="_blank">
                <img src="img/organizers/anastasia_mavrommati.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Anastasia Mavrommati</h3>
              <p class="mb-4"> Mathworks </p>
            </div>
          </div>

        </div>
        <div class="row">

          <!-- Person 3 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://robertogl.github.io/" target="_blank">
                <img src="img/organizers/roberto_valenti.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Roberto Valenti</h3>
              <p class="mb-4"> Mathworks </p>
            </div>
          </div>

          <!-- Person 4 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://www.linkedin.com/in/kaurmanveen/" target="_blank">
                <img src="img/organizers/manveen_kaur.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Manveen Kaur</h3>
              <p class="mb-4"> Cal State LA </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
