<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Speakers</h2>
        <hr class="primary">
      </div>
      <div class="text-center">

        <!-- Top row -->
        <div class="row">

          <!-- Person 1 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://engineering.brown.edu/people/nora-ayanian" target="_blank">
                <img src="img/speakers/nora_ayanian.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Nora Ayanian</h3>
              <p class="mb-4"> Brown University </p>
            </div>
          </div>

          <!-- Person 2 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://mistlab.ca/people/beltrame/" target="_blank">
                <img src="img/speakers/giovanni_beltrame.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Giovanni Beltrame</h3>
              <p class="mb-4"> Polytechnique Montreal </p>
            </div>
          </div>

          <!-- Person 3 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://lucacarlone.mit.edu/" target="_blank">
                <img src="img/speakers/luca_carlone.png" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Luca Carlone</h3>
              <p class="mb-4"> MIT </p>
            </div>
          </div>

          <!-- End of top row -->
        </div>

        <!-- Middle row -->
        <div class="row">

          <!-- Person 1 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://www.linkedin.com/in/jwdurham/" target="_blank">
                <img src="img/speakers/joey_durham.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Joey Durham</h3>
              <p class="mb-4"> Amazon Robotics </p>
            </div>
          </div>

          <!-- Person 2 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://www.grasp.upenn.edu/people/ani-hsieh/" target="_blank">
                <img src="img/speakers/ani_hsieh.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>M. Ani Hsieh</h3>
              <p class="mb-4"> UPenn </p>
            </div>
          </div>

          <!-- End of middle row -->
        </div>
        
        <!-- Bottom row -->
        <div class="row">

          <!-- Person 1 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://web.cs.dartmouth.edu/people/alberto-quattrini-li" target="_blank">
                <img src="img/speakers/alberto_quattrini_li.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Alberto Quattrini Li</h3>
              <p class="mb-4"> Darthmouth University </p>
            </div>
          </div>

          <!-- Person 2 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="http://www.gnikolak.com/" target="_blank">
                <img src="img/speakers/george_nikolakopoulos.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>George Nikolakopoulos</h3>
              <p class="mb-4"> Luleå University of Technology </p>
            </div>
          </div>

          <!-- End of bottom row -->
        </div>

      </div>
</section>
